@import url('https://fonts.googleapis.com/css2?family=Londrina+Solid:wght@300&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Londrina Solid', cursive;
}
html,body{
  display: grid;
  height: 100%;
  place-items: center ;
  text-align: center;
  background: #F2F2F2;
}
.container{
  position: relative;
  width: 400px;
  background: #F2F2F2;
  padding: 20px 30px; 
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

 header{
  width: 100%;
  font-size: 25px;
  color: #fe7;
  font-weight: 500;
  margin: 5px 0 20px 0;
  text-align: center;
  transition: all 0.2s ease;
}
.pular .confirmar{  
  display: flex;
  flex-direction: row;
  justify-content: center;
  height: 45px; 
  width: 100px;
  margin: 0 auto ;
}
.pular button {
  
  box-shadow: -4px 12px 25px -10px #2EAFB9;  
  height: 100%;
  width: 100%;
  border: none;  
  color: #2CC6D0;
  background: #F2F2F2;
  font-size: 17px;
  font-weight: 500;
  text-transform: uppercase;
  cursor:pointer;
  transition: all 0.3s ease;
}

.confirmar button {
  
  box-shadow: -4px 12px 25px -10px #2EAFB9;  
  height: 100%;
  width: 100%;
  border-radius: 100px;
  outline: none;  
  color: #FFFFFF;
  background: #2CC6D0;
  font-size: 17px;
  font-weight: 500;
  text-transform: uppercase;
  cursor:pointer;
  transition: all 0.3s ease;
}
form .pular .confirmar button:hover{
  background: #acccce;
  
}
